.container{
  border: 1px dashed black;
  background-color: #C9AAFF;
  text-align: center;
  text
}

.container2 {
  height:300px;
  width:100px;
  flex-direction: row;
  align-items: flex-start;
  border:10px dashed;
}

.flowers {
  align-self: flex-start;
}
